<% if !orders.empty? %>
	<h5><%= title %></h5>

	<% orders.each do |order| %>
		<p> Order Id: <%= order.id %></p>
		<p>Customer: <%= order.customer.first_name %> <%= order.customer.last_name %></p>

		<%= render "orders/form", order: order %>

		<%= render "items", items: order.items %>
	<% end %>
<% end %>
