<% if !order.assigned? %>
	<h3> Assign a Tailor for this order! </h3>

	<%= form_for order do |f| %>
		<%= f.label :tailor %>
	  <%= f.select :provider_id, Tailor.all.collect { |tailor| [tailor.name, tailor.id] } %>
	  <%= f.submit "Select Tailor" %>
	<% end %>

<% else %>
	<h3> This order is assigned to <%= order.tailor.name %> </h3>
<% end %>


